<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
  <link rel="stylesheet" href="/css/GOTA.css"></link>
  <title>GOT_Analytics Ltd.</title>
</head>

<body>
  <div class="blackScreen"></div>
  <div class="indexMain">
    <div class="grid">
      <main>
        <div class="main-content">
          <img src="gotlog.png">
          <p>Analytica Ltd</p>
        </div>
        <form action="/:twitter_name" method="get">
          <p> Enter your Twitter Username to finds your game of thrones character </p>
          <input type="text" id="twitterName" name="twitter_name">
        </form>
      </main>

      <footer>
        <h5>No gaurentee can be made that your data will not be sold, shared, bought or borrowed. GOT_Analytics Ltd. ©</h5>
      </footer>
    </div>
  </div>
  <script src="./app.js"></script>
</body>

</html>