<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
  <link rel="stylesheet" href="/css/GOTA.css"></link>
  <title>GOT_Analytics Ltd.</title>
</head>
<body>
  <div class="blackScreen"></div>
  <div class="indexMain">
    <div class="grid">
      <main>
          
        <div class="homePage">
          <img src="gotlog.png">
          <p>Analytica Ltd</p>
        </div>
  
        <form action="/:twitter_name" method="get">
          <p> F**k the Kingsguard. F**k the city. F**k the king.<br><br>
            Enter your Twitter Username </p>
          <input type="text" id="twitterName" name="twitter_name">
          <!-- <button type ="submit" id="submitBtn">Submit</button> -->
        </form>
      </main>
    
      <footer> 
        <h5>No gaurentee can be made that your data will not be sold, shared, bought or borrowed. GOT_Analytics Ltd. ©</h5>
      </footer>
    </div>
  
</div>
<audio controls autoplay>
  <source src="got.mp3" type="audio/ogg">
</audio>
<script src="./app.js"></script>
</body>
</html>