<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
  <link rel="stylesheet" href="/css/GOTA.css"></link>
  <title>GOT_Analytics Ltd.</title>
</head>
<body>
  <div class="grid">
    <main>
      <a href="http://localhost:6074/"><img src="gotlog.png"></a>
      <div class="noUserText">
         <p>Man's got to have a code. <br> Enter new a username on the homepage</p>
      </div>
    </main>
  
    <footer> 
      <h5>No gaurentee can be made that your data will not be sold, shared, bought or borrowed. GOT_Analytics Ltd. ©</h5>
    </footer>
  </div>

<audio controls autoplay>
  <source src="got.mp3" type="audio/ogg">
</audio>  
<script src="./app.js"></script>
</body>
</html>